/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 60vw;
    --main-background-color: #e4e4e4;
    
    background-color: var(--main-background-color);

}

body.dark {
    --main-background-color: #1a1a1a;
    background-color: var(--main-background-color);
}


/* HEADER */

header {
    --header-background-color: grey; 
    --header-font-color: white;


    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background-color);
    padding: 1.5em;
    font-weight: bold;
    color: var(--header-font-color)
}

header.dark {
    --header-background-color: rgb(99, 99, 99);
}

ul.left {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}

ul.left li {
    color: white;
    font-size: 1.5em;
}

.home-link {
    text-decoration: none;
}

.home-link-wrapper:hover {
    cursor: pointer;
}

.home-link:visited {
    color: inherit;
}

#home-link-text {
    display: inline-block;
}

header div.right {
    color: var(--header-font-color);
    font-size: 1.5em;
    cursor: pointer;
}
